body {
  margin: auto 0;
  text-align: center;
}
/*input {
  width: 10%;
}*/

/*large display*/
/*@media screen and (min-width: 45.5em) {
  input {
  }
}*/

h1 {
  color: ;
}

.timer {
  display: inline;
}

.col-xs-6 {
  padding: 1em 1em 1em .5em;
}

.start {
  color: green;
  padding-left: .4em;
}

.stop {
  color: red;
  padding-right: .4em;
  display: none;
}

.game-time  {
  padding: 0 0 0 .5em;
}

.playing {
  padding: 0 0 0 .5em;
}

.time {
  padding-left: 0;
}

.btn-default.pressed {
  content:url(green-pause.jpg);
  height: 35px;
  width: 35px;
}
